[project]
	description = This repo is for demonstration purposes only.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Robert Mitchell (refmitchell)
[access "refs/for/refs/*"]
	read = group user/Robert Mitchell (refmitchell)
	push = group user/Robert Mitchell (refmitchell)
	label-Code-Review = -2..+2 group user/Robert Mitchell (refmitchell)
	label-Verified = -1..+1 group user/Robert Mitchell (refmitchell)
	rebase = group user/Robert Mitchell (refmitchell)
	removeReviewer = group user/Robert Mitchell (refmitchell)
	submit = group user/Robert Mitchell (refmitchell)
[access "refs/heads/*"]
	read = group user/Robert Mitchell (refmitchell)
	create = group user/Robert Mitchell (refmitchell)
	push = +force group user/Robert Mitchell (refmitchell)
	pushMerge = group user/Robert Mitchell (refmitchell)
[access "refs/tags/*"]
	push = +force group user/Robert Mitchell (refmitchell)
	pushTag = group user/Robert Mitchell (refmitchell)
	pushSignedTag = group user/Robert Mitchell (refmitchell)
